<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taomz.mini.apps.dao.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taomz.mini.apps.model.OrderItem">
        <id column="id" property="id" />
        <result column="order_code" property="orderCode" />
        <result column="brand_id" property="brandId" />
        <result column="spu_id" property="spuId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_name" property="skuName" />
        <result column="price" property="price" />
        <result column="act_price" property="actPrice" />
        <result column="num" property="num" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_code, brand_id, spu_id, sku_id, sku_name, price, act_price, num
    </sql>

</mapper>
