<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taomz.mini.apps.dao.mapper.campaign.UserHelpRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taomz.mini.apps.model.campaign.UserHelpRecord">
        <id column="id" property="id" />
        <result column="help_id" property="helpId" />
        <result column="help_num" property="helpNum" />
        <result column="type" property="type" />
        <result column="instruction" property="instruction" />
        <result column="operate_user_id" property="operateUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, help_id, help_num, type, instruction, operate_user_id, create_time
    </sql>

	<select id="currentDayLoginCount" resultType="java.lang.Integer">
        SELECT
            count( uh.id )
        FROM
            user_help uh
                LEFT JOIN user_help_record uhr ON uh.id = uhr.help_id
        WHERE
            uhr.operate_user_id = #{userId}
          AND uh.user_id = uhr.operate_user_id
          AND uhr.type = 0
          AND uh.act_prod_id = #{activityId}
          AND TO_DAYS( uhr.create_time ) = TO_DAYS(#{nowDate})
    </select>

</mapper>
